In [29]:
!pip install category_encoders

Requirement already satisfied: category_encoders in d:\cours\python\lib\site-packages (2.6.0)
Requirement already satisfied: scipy>=1.0.0 in d:\cours\python\lib\site-packages (from category_encoders) (1.9.1)
Requirement already satisfied: statsmodels>=0.9.0 in d:\cours\python\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: scikit-learn>=0.20.0 in d:\cours\python\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in d:\cours\python\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in d:\cours\python\lib\site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: pandas>=1.0.5 in d:\cours\python\lib\site-packages (from category_encoders) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\cours\python\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\cours\python\lib\site-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: six in d:\cours\python\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\cours\python\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in d:\cours\python\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in d:\cours\python\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\cours\python\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)

In [1]:
import pandas as pd 
import numpy as np

In [39]:
dataframe=pd.DataFrame({"shape": ["square", "square", "oval", "circle"],
                   'class':['third','first','second','third'],
                   'size':['S','S','L','XL']})
dataframe
#df=pd.DataFrame(dataframe, columns=['shape','class','size'])
#print(df)

    shape   class size
0  square   third    S
1  square   first    S
2    oval  second    L
3  circle   third   XL

# Q1: Apply Ordinal encoding.

In [11]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
ohe=OneHotEncoder(sparse=False)
ohe.fit_transform(dataframe[['shape']])

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]])

# Q2: Apply One hot encoding.

In [14]:
oe=OrdinalEncoder(categories=[['first','second','third'],['S','M','L','XL']])
oe.fit_transform(dataframe[['class','size']])

array([[2., 0.],
       [0., 0.],
       [1., 2.],
       [2., 3.]])

# Q3: Apply Frequency Encoding.

In [31]:
ed=pd.DataFrame({"education": ["graduate", "graduate", "graduate", "not graduate",'graduate','not graduate','not graduate'],
                   'self_employed':['no','no','yes','no','no','yes','no'],
                'dependent':[0,1,0,0,0,0,0,]})
ed

      education self_employed  dependent
0      graduate            no          0
1      graduate            no          1
2      graduate           yes          0
3  not graduate            no          0
4      graduate            no          0
5  not graduate           yes          0
6  not graduate            no          0

In [40]:
dataframe.groupby('shape').size()

shape
circle    1
oval      1
square    2
dtype: int64

In [41]:
len(dataframe)

4

In [42]:
col='shape'
freq=dataframe.groupby('shape').size()/len(dataframe)
freq

shape
circle    0.25
oval      0.25
square    0.50
dtype: float64

In [43]:
dataframe.loc[:,"{}_freq".format(col)]=dataframe[col].map(freq)
dataframe.head()

    shape   class size  shape_freq
0  square   third    S        0.50
1  square   first    S        0.50
2    oval  second    L        0.25
3  circle   third   XL        0.25

# Q4: Apply Binary Encoding.

In [48]:
import category_encoders as ce

color=pd.DataFrame({"column": ["red", "green", "red", "green",'blue','red','grey','blue','red','blue','blue','green','grey'],
                   'label':[1,2,1,2,3,1,4,3,1,3,3,2,4]})
encoder= ce.BaseNEncoder(cols=['column'],return_df=True,base=5)

color

   column  label
0     red      1
1   green      2
2     red      1
3   green      2
4    blue      3
5     red      1
6    grey      4
7    blue      3
8     red      1
9    blue      3
10   blue      3
11  green      2
12   grey      4

In [50]:
df_one = pd.get_dummies(color["column"])
print(df_one)

    blue  green  grey  red
0      0      0     0    1
1      0      1     0    0
2      0      0     0    1
3      0      1     0    0
4      1      0     0    0
5      0      0     0    1
6      0      0     1    0
7      1      0     0    0
8      0      0     0    1
9      1      0     0    0
10     1      0     0    0
11     0      1     0    0
12     0      0     1    0